# Database — PostgreSQL connection string
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sophenix?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=""

# OAuth providers (tuỳ chọn)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
